.home{
  display: flex;
    flex-direction: row;
}

.title{
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 80px;
  font-weight: 500;
  padding-left: 80px;
}
.blogtitle{
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 100px;
  padding-left: 80px;
}
.box{
  background-color: lightblue;
  padding: 20px;
  text-align: left;
  background-size: cover;
}
.button{
  font-size:20px;
  background-color: transparent;
  border: 2px solid orange;
  color: orange;
  padding: 5px;
  cursor: pointer;
  width: 190px;
  text-align: center;
}
.card{
  width: 460px;
  height: 500px;
  background-color: white;
}
.text{
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  display: flex;
}
.articleTitle{
  font-size: 25px;
}
.content{
  font-size: 15px;
}
.cardArticle{
  width: 650px;
  height: auto;
  background-color: rgb(222, 228, 218);
}
.image{
  margin-left: 25px;
  margin-top: 20px;
}
.desc{
  font-size: 22px;
  width: 600px;
  margin-left: 30px;
}
.cardTitle{
  text-align: center;
  font-size: 25px;
}
.categoryTitle{
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  list-style: none;
}