.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}
.header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  padding-left: 70px;
}
.blog {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  padding-left: 250px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}
.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  text-align: center;
}
