.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .header {
    background-color: #ffffff;
    color: #666666;
    padding: 20px;
    padding-left: 70px;
  }
  .blog{
    background-color: #353b3f;
    color: white;
    padding: 20px;
    text-align: center;
    padding-left: 250px;
    
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f4;
  }

  .footer {
    background-color: #948888;
    color: white;
    padding: 10px;
    text-align: center;
  }